@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Fredoka&display=swap');
h1{
    color: #ff0000;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Fredoka', sans-serif;
    font-size: 50px
}
.laureano{
    color: black; 
    font-size: 20px;
} 
.arriba{
    background-color: lightblue;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
