@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Fredoka&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Fredoka&display=swap');
h1{
    color: #ff0000;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Fredoka', sans-serif;
    font-size: 50px
}
.laureano{
    color: black; 
    font-size: 20px;
} 
.SUPERIOR{
    background-image: url(../media/R.jpg);
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    
    
}
.SUPERIOR a:hover{
    color: blueviolet;
}
*{
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}
a{
    color: black;

}